h1{background-color: rgb(255, 0, 0); text-align: center; font-size: xxx-large;}
#nm{margin: auto;border: solid; 3px; padding: 2px; align-self:crrent;}
p{background-color: rgb(16, 166, 6); color: rgb(255, 255, 255); font-size:medium; text-align: justify;}
.imege{margin: 5px; border:solid;black;padding: 5px 10px; background-color: rgba(0, 170, 255, 0.929); }
div{margin: 5px; border:solid;black;padding: 5px 10px; background-color: rgba(0, 170, 255, 0.929); }